@import 'override';
@import 'utility';
@import 'utility_colors';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  max-height: 100vh;
  overflow-y: hidden;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body::-webkit-scrollbar{
  width: 0px;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
   
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 3rem;
  }

  &::-webkit-scrollbar-thumb {
    background: darken(#ddd, 20%);
    border-radius: 1rem;
  }
}

.img-fullsize {
  * {
    width: 100% !important;
    height: 100% !important;
  }
}

.chat-top,
.chat-middle,
.chat-bottom {
  margin: 0;
  padding: 0;
}

.chat-top,
.chat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

$chat-t: 75px;
$chat-b: 70px;

.chat-top {
  height: $chat-t;
  background: #ededed;
}

.chat-bottom {
  height: $chat-b;
  background: #ededed;
}

.chat-middle {
  height: calc(100% - #{$chat-t} - #{$chat-b});
  background-blend-mode: soft-light; 
  background: #eeeae6  url(./../images/chat-window-bg.png);  
}

.msg-list {
  width: 100%;
  padding: 0 5%;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  
}

.position-down{
  position: relative;
  top: 7px
}

.animate-blink {
  animation: blink normal 1.5s infinite ease-in-out;
  color: red !important;
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}

.illustration{
  max-height: 40vh;
  width: 75%;
  margin-bottom: 4rem ;
  img{
    width:100%;
    object-fit: contain;
  }
}