.text-green {
  color: #4caf50;
}

.text-blue {
  color: #2196f3 !important;
}

.text-black {
  color: #000 !important;
}

.text-red {
  color: red;
}

.text-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bg-black-02 {
  background-color: rgba(0, 0, 0, 0.02);
}

.text-grey{
  color: rgb(114, 105, 105) !important;
}

.bg-white{
  background-color: white;
}

.bg-myMsg{
  background-color: #dcf8c6;
}

.text-msg-name{
  color: #00bfa5;
}